* {
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #fbfbfd;
}

a{
  color: black !important;
}

a:hover{
  color: #fff !important;
  text-decoration: none !important;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


nav {
    background-color: #df9036a8;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    max-height: 100px;
    justify-content: flex-start;
    margin: 0;
  }
  
  nav ul li {
    padding: 0 0 0 20px;
    
  }

  .banner{
    max-width: 98%;
    margin: 0 auto;
  }

.shop {
  display: flex;
  justify-content: space-between;
  padding: 130px 0px;
}

.item {
  background-color: #df9036a8;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shop-item img {
  width: 220px;
  height: 272px;
  margin: 10px 0 10px 0;
  
}

@media (max-width: 700px){
  .shop{
    flex-direction: column;
  }
}

h1{
  text-align: center;
}

.flex-parent{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box{
  margin-top: 30px;
  text-align: center;
  background-color: antiquewhite;
  padding: 30px;
  width: 70%;
}

.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 110px 0px 110px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: black;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.new_footer_area a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
  color: #df9036a8 !important;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: black;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}



